*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #ABB2B9;

}
h2{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #2f4f4f;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;

}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.inputbox
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.inputbox:nth-child(2n)
{
    justify-content: end;

}
.inputbox label{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;

}
.inputbox input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid#ccc;
    outline: none;
}
.inputbox input:is(:focus,:valid)
{
 box-shadow:0 3px 6px rgba(0,0,0,0.2);   
}
.buttoncontainer{
     margin: 15px 0;
}
.buttoncontainer button{
 width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image:linear-gradient(to right,#aa076b,#61045f) ;

}
.buttoncontainer button:hover{
    background-image:linear-gradient(to right,#aa076b,#61045f) ;
}
@media(max-width:700px)
{
    .container{
        min-width: 280px;
    }
    .content{
        max-height: 380px;
        overflow: auto;
    }
    .inputbox{
        margin-bottom: 12px;
        width: 100%;

    }
    .inputbox:nth-child(2n){
        justify-content: space-between;

    }
    

}