*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #ABB2B9;

}
h2{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #2f4f4f;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;

}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.inputbox
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.inputbox:nth-child(2n)
{
    justify-content: end;

}
.inputbox label{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;

}
.inputbox input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid#ccc;
    outline: none;
}
.inputbox input:is(:focus,:valid)
{
 box-shadow:0 3px 6px rgba(0,0,0,0.2);   
}
.buttoncontainer{
     margin: 15px 0;
}
.buttoncontainer button{
 width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image:linear-gradient(to right,#aa076b,#61045f) ;

}
.buttoncontainer button:hover{
    background-image:linear-gradient(to right,#aa076b,#61045f) ;
}

/* Header styles */

header {
    position: absolute;
    top: 0px;
	background:linear-gradient(to right,#aa076b,#61045f);
	color: #fff;
    left: 0px;
    width: 100%;
}

header h1 {
	margin: 0;
	padding: 20px;
	font-size: 2rem;
}

nav ul {
	margin: 0;
	padding: 10px;
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

nav a:hover {


        color: #b61a94;
        background-color: #f6f4f4;
}
      
/* sidebar*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background:linear-gradient(to right,#aa076b,#61045f);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  
.sidebar a:hover {
    color: #b61a94;
    background-color: #f6f4f4;
  
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background:linear-gradient(to right,#aa076b,#61045f);
    color: white;
    padding: 10px ;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .openbtn:hover {
    background-color: #d854bbc1;
  }
 
#main {
    transition: margin-left .5s;
    padding: 16px;
  }
@media(max-width:700px)
{
    .container{
        min-width: 280px;
    }
    .content{
        max-height: 380px;
        overflow: auto;
    }
    .inputbox{
        margin-bottom: 12px;
        width: 100%;

    }
    .inputbox:nth-child(2n){
        justify-content: space-between;

    }
    

}