*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    height: 100vh;
}
.col-sm-3{
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;

}
/* .container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #ABB2B9;

} */
h2{ 
    position: absolute;
    top: 50px;
    left: 260px;
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #2f4f4f;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;

}
.content{
    position: absolute;
    top: 100px;
    left: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #ABB2B9;
}


.inputbox
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.inputbox:nth-child(2n)
{
    justify-content: end;

}
.inputbox label{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;

}
.inputbox input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid#ccc;
    outline: none;
}
.inputbox input:is(:focus,:valid)
{
 box-shadow:0 3px 6px rgba(0,0,0,0.2);   
}
.buttoncontainer{
     margin: 15px 0;
}
.buttoncontainer button{
 width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: var(--blue); ;

}
.buttoncontainer button:hover{
    background: var(--gray);
    color:var(--blue) ;
}

*{
    font-family: "ubuntu",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue:#2a2185;
    --white:#fff;
    --gray:#f5f5f5;
    --black1:#222;
    --black2:#999;
}
body{
    
    overflow-x: hidden;

}
.container{
    position: relative;
    width: 100%;

}
/* navigation */
.navigation{
    position: fixed;
    width: 250px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 65px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background-color: var(--white);
    
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.5rem;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* main */
.main{
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 60px);
    left: 65px;

}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: var(--blue);
}
.toggle{
    position: relative;
    color: white;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    
}
.search ion-icon{
    position: absolute;
    top: 20px;
    right: 55px;
    font-size: 1.5rem;
    color: #f5f5f5;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
  }
@media(max-width:700px)
{
    body{
        font-size: 14px;
    }
   
    h2{
        position: absolute;
        left: 50px;
       
    }
    .content{
        max-height: 380px;
        overflow: auto;
        min-width: 280px;
        margin: auto;
        margin-top: auto;
    }
    .inputbox{
        margin-bottom: 12px;
        width: 100%;

    }
    .inputbox:nth-child(2n){
        justify-content: space-between;

    }
    

}
/* responsive */
@media (max-width:991px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .cardbox{
        grid-template-columns: repeat(2,1fr);
    }

}