
/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.searchbar{
    position: relative;
    left: 100px;
    width: 70vh;
   background-color: black;
    display: flex;
    align-items: center;
    border-radius: 60px;
    height: 35px;
    margin-top: 5%;

}

.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}
 ::placeholder{
    color: bisque;
}
.searchbar button ion-icon{
    position: relative;
    left: 10;
    font-size: 1.5rem;
 
   

}
.searchbar button{
    border:0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: black;
    
}
.subjectwrapper{
    margin:5px auto;
    padding: 0 25%;
    padding-bottom: 10px;
    text-transform: capitalize;

}
h1{
    color:rgb(29, 10, 38);
    font-size: 45px;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 0 15px 10px rgba(0, 0,0,0.2);
    font-family:fantasy;

}
.subjects{
    display:grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit ,minmax(180px,1fr));


}
.subjectbox{
    height: 220px;

    padding: 15px;
    text-align: center;
    border-radius: 15px;
    background:linear-gradient(45deg,#47cebe,#ef4a82);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}
.subjectbox img{
    height: 97px;
}
.subjectbox h3{
    
    color: #051e42;
    padding: 3px 0;
    font-size: 16px;


}
/* nav */
*{
    font-family: "ubuntu",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue:#2a2185;
    --white:#fff;
    --gray:#f5f5f5;
    --black1:#222;
    --black2:#999;
}
body{
    
    overflow-x: hidden;

}
.container{
    position: relative;
    width: 100%;

}
/* navigation */
.navigation{
    position: fixed;
    width: 250px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 65px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background-color: var(--white);
    
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a{
    color: var(--blue);
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.5rem;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* main */
.main{
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active{
    width: calc(100% - 60px);
    left: 65px;

}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: var(--blue);
}
.toggle{
    position: relative;
    color: white;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    
}
.search ion-icon{
    position: absolute;
    top: 20px;
    right: 55px;
    font-size: 1.5rem;
    color: #f5f5f5;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  @media (max-width:991px){
    .navigation{
        left: -250px;
    }
    .navigation.active{
        width: 250px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 250px;
    }
    

}





 