body{
    background: url('download (1).jpg')no-repeat;
    background-size:30%;
    
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar{
  
    width: 70vh;
   background-color: black;
    display: flex;
    align-items: center;
    border-radius: 60px;
    height: 35px;
    margin-top: 5%;

}

.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}
 ::placeholder{
    color: bisque;
}
.searchbar button img{
    width: 10px;
 
   

}
.searchbar button{
    border:0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
    
}
.subjectwrapper{
    margin:5px auto;
    padding: 0 25%;
    padding-bottom: 10px;
    text-transform: capitalize;

}
h1{
    color:rgb(29, 10, 38);
    font-size: 45px;
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 0 15px 10px rgba(0, 0,0,0.2);
    font-family:fantasy;

}
.subjects{
    display:grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit ,minmax(180px,1fr));


}
.subjectbox{
    height: 220px;

    padding: 15px;
    text-align: center;
    border-radius: 15px;
    background:linear-gradient(45deg,#47cebe,#ef4a82);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

}
.subjectbox img{
    height: 97px;
}
.subjectbox h3{
    
    color: #051e42;
    padding: 3px 0;
    font-size: 16px;


}
header {
	background-color: #333;
	color: #fff;
}

header h1 {
	margin: 0;
	padding: 20px;
	font-size: 2rem;
}

nav ul {
	margin: 0;
	padding: 10px;
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

nav a:hover {
	background-color: #fff;
	color: #333;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px ;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }





 