*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar{
  
    width: 70vh;
   background-color: black;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 0px 20px;
    margin-top: 3%;

}

.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}
 ::placeholder{
    color: bisque;
}
.searchbar button img{
    width: 30px;
   
   

}
.searchbar button{
    border:0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    
    
}
.boxsty{
    display:grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit ,minmax(400px,1fr));
}

.card{
    position: relative;
    width: 380px;
    height: 350px;
    background: #ffffff;
    border-radius: 20px;

    align-items: center;
    border-radius: 20px;
    transform: 0.5s;
    margin-top: 2%;
    margin-left: 2%;

}
.card .circle{
    position:absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    overflow: hidden;


}
.card .circle::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background:linear-gradient(45deg,#47cebe,#ef4a82);   
    clip-path: circle(30px at center);
    transition: 0.5s;


}
.card:hover .circle:before{
    background:linear-gradient(45deg,#47cebe,#ef4a82) ;
    clip-path: circle(400px at center);
}
.card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 250px;
    pointer-events: none;
    transition: 0.5s;


}
.card:hover img{
    left:72%;
    height: 240px;
}
.card .content {
    position: relative;
    width: 50%;
   left: -6%;
    padding: 0px 20px 20px 40px;
    transition: 0.5px;
    opacity: 0;
    visibility: hidden;

}
.card:hover .content{
    opacity: 1;
    visibility: visible;
}
.card .content  h4{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 5%;
  
}
.card .content h5{
    color: #fff;
    margin-top:10%;
    
}
.card .content h5 p{
    color: #fff;
    font-size: 12px;
}

@media (max-width:770px)
{
    .boxsty{
        display:grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit ,minmax(180px,1fr));
    }
    .card{
        width:auto;
        max-width: 350px;
        
        align-items: flex-start;

    }
    .card:hover{
        height:350px;
    }
    .card .content{
        width: 100%;
        left:0;
        padding:10px;
        font-size: small;
    }
    .card img{
        top:50%;
        left:50%;
        height: 210px;
    }
    .card:hover img{
        top: 82%;
        left:75%;
        height: 100px;
    }
}

